<!--banner-starts-here-->
<div class="banner wow bounce" data-wow-delay="0.1s" id="home">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <a href="index.html"><span class="title"><b>Beacon</b>Fly</span><span class="dot">.</span></a>
            </div>
            <div class="menu">
                <a class="toggleMenu" href="#"></a>
                <ul class="nav" id="nav">
                    <li><a href="#home" class="scroll">HOME</a></li>
                    <li><a href="#feature" class="scroll">FEATURES</a></li>
                    <li><a class="active scroll" href="#contact">CONTACT</a></li>
                </ul>
                <!----//End-top-nav-script---->
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="banner-bottom">
            <h1>BeaconFly is the world's first Beacon integration with Salesforce&#8482;!</h1>
            <p>Coming soon in a device near you!</p>
        </div>
    </div>
</div>
<div class="awesome">
    <div class="container">
        <div class="awesome-top">
            <div class="col-md-5 awesome-left">
                <h3>Bring context to your apps</h3>
                <p>Create new, contextually rich mobile experiences.</p>
            </div>
            <div class="col-md-10 awesome-right">
                <img src="images/Roomaps.png" alt="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="awesome-bottom">
            <div class="col-md-5 awesome-bottom-left">
                <img src="images/estimote-beacon-long.png" alt="">
            </div>
            <div class="col-md-7 awesome-bottom-right">
                <h3>Estimote Beacons</h3>
                <p>Estimote Beacons and Stickers are small wireless sensors that you can attach to any location or object. They broadcast tiny radio signals which your smartphone can receive and interpret, unlocking micro-location and contextual awareness.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="talk" id="contact">
    <div class="container">
        <div class="talk-top">
            <h3>Get It Now</h3>
            <div class="talk-main">
                <input type="text" class="text" value="YOUR NAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'YOUR NAME';}">
                <input type="text" class="text" value="YOUR EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'YOUR EMAIL';}">
                <textarea value="YOUR MESSAGE" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'YOUR MESSAGE';}">YOUR MESSAGE</textarea>
                <div class="clear"> </div>
                <div class="sub-button">
                    <input name="submit" type="submit" value="CONTACT">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-text">
            <p>DELOITTE MONTREAL SUMMER BREAK 2016 | SPONSORED BY <a href="http://www2.deloitte.com/us/en/pages/public-sector/articles/deloitte-greenhouse-overview.html">Deloite Grenhouse&#8482;</a></p>
        </div>
    </div>
</div>