<div id="id-screen-monitor-regions">
    <div class="style-heading-small style-color-purple">Monitor Regions</div>
    <div class="style-button-back style-color-blueberry">
        <a id="back-btn" href="javascript:void(0);">Back</a>
    </div>
    <div class="style-item-list">
        <div class="style-color-pink">
            <table>
                <tr>
                    <td>State</td>
                    <td><%= regionState.state %></td>
                </tr>
                <tr>
                    <td>Major</td>
                    <td><%= regionState.major %></td>
                </tr>
                <tr>
                    <td>Minor</td>
                    <td><%= regionState.minor %></td>
                </tr>
                <tr>
                    <td>Identifier</td>
                    <td><%= regionState.identifier %></td>
                </tr>
                <tr>
                    <td>UUID</td>
                    <td><%= regionState.uuid %></td>
                </tr>
            </table>
        </div>
    </div>
</div>