<div id="id-screen-range-beacons">
    <div class="style-heading-small style-color-purple">Range Beacons</div>
    <div class="style-button-back style-color-blueberry">
        <a id="back-btn" href="javascript:void(0);">Back</a>
    </div>
    <div class="style-item-list">
        <% _.each(beacons, function(beacon){ %>
            <div class="<%= beacon.style %>">
                <table>
                    <tr>
                        <td>UUID</td>
                        <td><%= beacon.proximityUUID %></td>
                    </tr>
                    <tr>
                        <td>Major</td>
                        <td><%= beacon.major %></td>
                    </tr>
                    <tr>
                        <td>Minor</td>
                        <td><%= beacon.minor %></td>
                    </tr>
                    <tr>
                        <td>RSSI</td>
                        <td><%= beacon.rssi %></td>
                    </tr>
                    <tr>
                        <td>Proximity</td>
                        <td><%= beacon.formattedProximity %></td>
                    </tr>
                    <tr>
                        <td>Distance</td>
                        <td><%= beacon.formattedDistance %></td>
                    </tr>
                </table>
            </div>
        <% }); %>
    </div>
</div>